body {
    margin: 0;
}

/* Header */
header {
    border-bottom: 1px solid #898f9c;
}

.sns-icons {
    font-size: 25px;
}

.sns-icons>* {
    margin-left: 5px;
    margin-right: 5px;
}

.sns-icons>*:hover {
    color: #898f9c;
}

.facebook {
    color: #4267b2;
}

.twitter {
    color: #1da1f2;
}

.instagram {
    color: #833ab4;
}

.kakaotalk {
    color: #ffe812;
}